each post in obj.results
  div.container
    .row
      a(href="/blog/posts/"+post.slug)
        h2= post.name
    .row
      span= moment(post.createdAt).format(dateFormat)
      | &nbsp;
      - var needsComma = false
      each tag in post.tags
        if needsComma
          | , 
        a(href="/blog/tags/"+tag.slug)= tag.name
        - needsComma = true
      | &nbsp;
      a(href="/blog/posts/"+post.slug+"#comments") Comments
    .row
      p= post.preview
    .row
      a(href="/blog/posts/"+post.slug) Read more
//- if totalPages > 1
//-   ul.pagination
//-     if previousPage
//-       li: a(href='?page=' + previousPage)= Previous
//-     else
//-       li.disabled: a(href='?page=' + 1)= Previous
//-     each p, i in totalPages
//-       li(class=currentPage === p ? 'active' : null)
//-         a(href='?page=' + (p === '...' ? (i ? totalPages : 1) : p ))= p
//-     if posts.next
//-       li: a(href='?page=' + nextPage)= Next
//-     else
//-       li.disabled: a(href='?page=' + totalPages)= Next
