.index
  each post in obj.results
    .post
      if post.featuredImage != "{}"
        .row.post-featured-image
          a(href="/blog/"+post.slug)
            img(src=post.featuredImage.url).img-responsive
      .row.post-name
        a(href="/blog/"+post.slug)
          h2= post.name
      .row.post-details
        span= moment(post.createdAt).format(dateFormat)
        span.tags
          - var needsComma = false
          each tag in post.tags
            if needsComma
              | , 
            a(href="/blog?tag="+tag.slug)= tag.name
            - needsComma = true
        span
          a(href="/blog/"+post.slug+"#disqus_thread") Comments
      .row.post-author
        if post.author.image != "{}"
          | POST AUTHOR IMAGE: 
          != JSON.stringify(obj.author.image)
        | By #{post.author.name.first} #{post.author.name.last}
      .row.post-preview
        p= post.preview
      .row.read-more
        a(href="/blog/"+post.slug).btn Read more
  if obj.totalPages > 1
    ul.pagination
      if obj.previous
        li.pagination-previous: a(href='?page=' + obj.previous) Prev
      else
        li.pagination-previous.disabled: a(href='?page=' + 1) Prev
      each p, i in obj.pages
        li.pagination-index(class=obj.currentPage === p ? 'active' : null)
          a(href='?page=' + (p === '...' ? (i ? obj.totalPages : 1) : p ))= p
      if obj.next
        li.pagination-next: a(href='?page=' + obj.next) Next
      else
        li.pagination-next.disabled: a(href='?page=' + obj.totalPages) Next
