.container.show
  .row.post-name
    h2= obj.name
  .row.post-details
    span= moment(obj.createdAt).format(dateFormat)
    span.tags
      - var needsComma = false
      each tag in obj.tags
        if needsComma
          | , 
        a(href="/blog/"+tag.slug)= tag.name
        - needsComma = true
    span
      a(href="#disqus_thread") Comments
  .row.post-author
    if obj.author._doc.image != "{}"
      img(src=obj.author._doc.image.url)
    | By #{obj.author._doc.name.first} #{obj.author._doc.name.last}
  .row.blog-body
    != obj.body.html
#disqus_thread
